<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <h2>Avaiable test list</h2>


    <!--<p th:if="${message}" th:text="${message}" style="color : greenyellow"></p>-->
    <!--<form action="/find/search/age">-->
    <!--<input type="text" name="age"/>-->
    <!--<button type="submit">Search by Age GetMapping</button>-->
    <!--</form>-->
    <!--<form action="/find/search" method="post">-->
    <!--<input type="text" name="option"/>-->
    <!--<button type="submit">Search by Name or Age Post Mapping</button>-->
    <!--</form>-->


    <p>The .table-bordered class adds borders to a table:</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Delete</th>
            <th>Update</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="test : ${tests}">
            <td th:text="${test.id}"></td>
            <td><a th:href="@{|/tests/${test.id}/play|}" th:text="${test.name}"> </a></td>
            <td th:text="${#lists.size(test.questionList)}"></td>
            <!--<td>-->
            <!--<a th:href="@{|/people/${person.id}/delete|}">-->
            <!--Delete</a>-->

            <!--</td>-->
            <!--<td>-->
            <!--<a th:href="@{|/people/${person.id}/update|}">-->
            <!--Update</a>-->
            <!--</td>-->
        </tr>


        </tbody>
    </table>

    <a href="/addtest">Dodaj nowy test</a>


</div>

</body>