<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/style.css}">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<!--<h1 th:text="${test.name}"></h1>-->
<!--<h3 th:text="${question.content}"></h3>-->




<!--<div>-->
<!--<legend>Answer</legend>-->
<!--<form th:action="@{|/tests/${test.id}/play|}">-->
    <!--<input type="hidden" name="answer" value="true">-->
    <!--<input type="submit" value="True">-->
<!--</form>-->
<!--<form th:action="@{|/tests/${test.id}/play|}">-->
    <!--<input type="hidden" name="answer" value="false">-->
    <!--<input type="submit" value="False">-->
<!--</form>-->
<!--</div>-->



<h1 th:text="${test.name}"></h1>

<h3 th:if="${question}"
    th:text="${question.content}"></h3>

<h2 th:if="${message}"
    th:text="${message}"></h2>

<form th:if =${question}
      th:action="@{|/tests/${id}/continue|}" method="get">

    <select name="correct">
        <option value=1>TAK</option>
        <option value=0>NIE</option>

    </select>
    <input type="submit" value="Następne">

</form>


</body>
</html>